{% load static %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="projects-header page-header text-center">
            <h2></h2>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
      <div class="row footer-top">
        <div class="col-sm-6 col-lg-6">
          <h4>
            <img src={% static 'index/images/logo.png' %}>
          </h4>
        </div>
        <div class="col-sm-6  col-lg-5 col-lg-offset-1">
          <div class="row about">
            <div class="col-xs-3">
              <h4>关于</h4>
              <ul class="list-unstyled">
                <li><a >关于我们</a></li>
                <li><a >广告合作</a></li>
                <li><a >友情链接</a></li>
                <li><a >招聘</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h4>联系方式</h4>
              <ul class="list-unstyled">
                <li><a title="账号：icedrunker" target="_blank">微信</a></li>
                <li><a title="icedrunkard@163.com">电子邮件</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h4>旗下网站</h4>
              <ul class="list-unstyled">
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h4>赞助商</h4>
              <ul class="list-unstyled">
                <li><a href="" target="_blank"></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div class="row footer-bottom">
        <ul class="list-inline text-center">
          <li><a>京ICP备****号</a></li><li>京公网安备****</li>
        </ul>
      </div>
    </div>
  </footer>